.carousel {
    padding: 81px 0;
    &__inner {
        width: 750px;
        margin: 0 auto; 
        position: relative;    
    }
}
.tns-item {
    display: block;
    margin: 0 auto;
    text-align: center;
    
    img {
        display: inline; 
    }
}
.prev-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);border: none;
}
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: none;
}
.tns-nav {
    text-align: center;
    button {
        padding-right: 20px;
        margin-right: 20px;
        height: 10px;
        border: none;
        background-color: red;
    }
}