.carousel {
    padding: 81px 0;
    &__inner {
        width: 750px;
        margin: 0 auto; 
        position: relative;    
    }
}
.tns-item {
    display: block;
    margin: 0 auto;
    text-align: center;
    
    img {
        display: inline; 
        width: 80%;
    }
}
.prev-btn {
    position: absolute;
    top: 50%;
    padding: 0;
    transform: translateY(-50%);
    border: none;
    img {
        width: 100%;
    }
}
.next-btn {
    position: absolute;
    top: 50%;
    padding: 0;
    transform: translateY(-50%);
    right: 0;
    border: none;
    img {
        width: 100%;
    }
}
