.carousel {
    padding: 81px 0;
    &__inner {
        width: 750px;
        margin: 0 auto; 
        position: relative;    
    }
}

.owl-nav{
    position: absolute;
    top:50%;
    
    button {
        &:nth-child(1) {
            position: absolute;
            right:18px;
            padding-right: 20px;
        }
        &:nth-child(2) {
            position: absolute;
            left:750px;
            padding-right: 20px;
        }
    }
}